

* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
  }

  body{
    background-image: url(./vecteezy_luxury-gold-and-white-foil-balloons-with-confetti-in-white_13223078.jpg);
    background-repeat: no-repeat;
    background-size:cover;
  }
  .countdown-body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-top:200px;
    padding:10px;
}

  .heading{
    font-family:cursive;
    width:900px;
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 30px;
    background-color:rgba(1,1,1,0.1);
    margin-bottom: 30px;
    box-shadow: 10px 10px black;
    

  }
  .heading:hover{
    font-weight:800px;
    border:3px solid white;
    
}

  
  .countdown {
    margin-top:30px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    font-family: sans-serif;
    padding:auto;
    margin: auto;
    transition:ease-in 3000;
    
}

  .countdown:hover {
   transform: scale(1.1) ;
   -webkit-transform: scale(1.1) ;
   -moz-transform: scale(1.1) ;
   -ms-transform: scale(1.1) ;
   -o-transform: scale(1.1) ;
   transition:ease-in 3000;
   -webkit-transition:ease-in 3000;
   -moz-transition:ease-in 3000;
   -ms-transition:ease-in 3000;
   -o-transition:ease-in 3000;
}
  
  
  .time-section {
    text-align: center;
    font-size: 30px;
  }
  
  .time-group {
    display: flex;
    gap: 10px;
  }
  
  .time-segment {
    display: block;
    font-size: 100px;
    font-weight: 900;
    width: 100px;
  }
  
  .segment-display {
    position: relative;
    height: 100%;
  }
  
  .segment-display__top,
  .segment-display__bottom {
    overflow: hidden;
    text-align: center;
    width: 100%;
    height: 50%;
    position: relative;
  }
  
  .segment-display__top {
    line-height: 1.5;
    color: #eee;
    background-color: #111;
  }
  
  .segment-display__bottom {
    line-height: 0;
    color: #fff;
    background-color: #333;
  }
  
  .segment-overlay {
    position: absolute;
    top: 0;
    perspective: 400px;
    height: 100%;
    width: 100%;
  }
  
  .segment-overlay__top,
  .segment-overlay__bottom {
    position: absolute;
    overflow: hidden;
    text-align: center;
    width: 100%;
    height: 50%;
  }
  
  .segment-overlay__top {
    top: 0;
    line-height: 1.5;
    color: #fff;
    background-color: #111;
    transform-origin: bottom;
  }
  
  .segment-overlay__bottom {
    bottom: 0;
    line-height: 0;
    color: #eee;
    background-color: #333;
    border-top: 2px solid black;
    transform-origin: top;
  }
  
  .segment-overlay.flip .segment-overlay__top {
    animation: flip-top 0.8s linear;
  }
  
  .segment-overlay.flip .segment-overlay__bottom {
    animation: flip-bottom 0.8s linear;
  }
  
  @keyframes flip-top {
    0% {
      transform: rotateX(0deg);
    }
    50%,
    100% {
      transform: rotateX(-90deg);
    }
  }
  
  @keyframes flip-bottom {
    0%,
    50% {
      transform: rotateX(90deg);
    }
    100% {
      transform: rotateX(0deg);
    }
  }
  